@import "tailwindcss";

:root {
    --main-bg-color: #1f1f1f;
    --secondary-bg-color: #151515;
    --text-primary: #efefef;
    --text-secondary: #e6b753;
    --text-secondary-secondary: #a0a0a0;
    --text-secondary-highlight: #ef8700;
    --font-size-normal: 14px;
    --font-size-large: 16px;
}

body {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    color: var(--text-primary);
    background-color: var(--main-bg-color);
    font-family: "Reddit Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
    margin: 0;
}

p,
ul,
li,
tr,
th,
td,
table {
    font-size: var(--font-size-normal);
}

th {
    font-size: 18px;
    font-weight: 600;
}

td {
    font-size: var(--font-size-large);
}

th,
td {
    text-align: left;
    border: 1px solid #3d3d3d;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #232323;
}

tr:nth-child(odd) {
    background-color: #1f1f1f;
}

a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

@keyframes fade-out {
    0% {color: #FF0000;}
    95% {color: #FF0000;}
    100% {color: rgba(255, 0, 0, 0);}
}
@keyframes text-highlight {
from {
    color: inherit;
}
to {
    color: var(--text-secondary);
}
}

.clickable {
    cursor: pointer;
}

.highlight:hover {
    animation: 150ms linear 0s text-highlight;
    color: var(--text-secondary);
}
.highlight:active {
    color: var(--text-secondary-highlight);
}

.inherit-color {
    color: inherit;
}

.secondary-color {
    color: var(--text-secondary);
}

.underlined:hover {
    text-decoration: underline;
}
.glow-hover {
    text-shadow: 0 0 0;
    transition: 300ms;
}
.glow-hover:hover {
    text-shadow: 0 0 10px var(--text-secondary);
}
.blur {
    filter: blur(6px);
}
.button {
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    padding: 0.2rem;
    border-radius: 4px;
    color: var(--text-secondary-secondary);
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.button:active {
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.1);
}
.button:focus {
    background-color: rgba(255, 255, 255, 0.1);
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.inline-bold {
    font-weight: 800;
}


/* layout */
.header-section {
    width: 100%;
    height: fit-content;
    background-color: var(--main-bg-color);
    padding: 0 0 1rem 0;
    margin: 0 0 3rem 0;
    display: flex;
}
.menu-bar {
    height: inherit;
    width: inherit;
    padding: 1rem 2rem 0 2rem;
    display: flex;
    align-items: end;
    gap: 2rem;
}
.site-title {
    height: 1em;
    width: 17rem;
    font-size: 24px;
    font-weight: 800;
    padding: 0 0 3px 0;
}
.footer-menu-section,
.menu-sections {
    height: 20px;
    display: flex;
}
.menu-groups {
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.footer-tabs,
.menu-tabs {
    font-weight: 700;
    min-width: 1rem;
    min-height: 1rem;
    margin-right: 2rem;
}
.body-section {
    width: 100vw;
    height: 100%;
    display: flex;
}
#main {
    background-color: var(--main-bg-color);
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#content-feed {
    height: 40vw;
    width: 40vw;
}


.footer-section {
    height: 20px;
    position: relative;
    color: #5f5f5f;
    background-color: var(--main-bg-color);
    padding: 50px 60px 10px 60px;
    font-size: 14px;
    display: flex;
}


/* modal */
#dimming-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0.8);
}
.welcome-modal-container {
    top: 50%;
    left: 50%;
    height: 10rem;
    width: 40rem;
    position: fixed;
    transform: translate(-50%, -200%);
    z-index: 9999;
}
.welcome-modal-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
  border-radius: 4px;
    border: 0.3rem solid #999999;
    background-color: var(--secondary-bg-color);
    filter: drop-shadow(10px 10px 4px rgba(0,0,0,0.3));
}
.welcome-modal-title {
    font-size: var(--text-lg);
}
.inline-bold {
    font-weight: 800;
}



/* login */
#login-error {
    align-items: center;
    justify-content: center;
}
.error-message {
    color: rgba(0,0,0,0);
    font-size: var(--text-sm);
    animation-name: fade-out;
    animation-duration: 10s;
    animation-iteration-count: 1;
}
.login-form {
    width: fit-content;
    margin: auto;
    background-color: var(--secondary-bg-color);
    border: 1px solid #3d3d3d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.auth-tabs {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #3d3d3d;
    border-bottom-width: 1px;
    border-radius: 0;
}
.tab {
    padding: 0.3rem 0.5rem;
    transition: 200ms;
}
.tab:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.form-box {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.form-group {
    display: flex;
    justify-content: space-between;
}
.form-label {
    font-size: 20px;
}
.form-label-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.form-input {
    font-size: 16px;
    margin-right: 2rem;
    padding: 0.2rem;
    border-radius: 4px;
    color: var(--text-secondary-secondary);
    transition: 150ms;
}
.form-input:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.form-input:focus {
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.1);
}
.contains-data {
}
#form-submission {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#form-button {
    padding: 0.3rem;
    border-radius: 4px;
    transition: 150ms;
}
#form-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#form-button:active {
    background-color: var(--color-gray-500);
}
.form-trigger {
    width: fit-content;
    font-size: 14px;
}
.login-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.actionIcon {
    background-color: #232323;
    padding: 0.3rem;
    border-radius: 4px;
    transition: 200ms;
}
.actionIcon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.octicon {
    fill: white;
}


/* results */
.page-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.result-table-container {
    max-height: 90vh;
    max-width: 90vw;
    overflow-y: auto;
    width: 100%;
    margin: auto;
    padding: 0.5rem;
    background-color: var(--secondary-bg-color);
}
.result-table {
    display: flex;
    flex-direction: column;
}
.editable-field {
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-size-large);
    margin: 0;
    padding: 0;
    border: 0;
}
.delete-button {
}
.delete-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}
